.places {
  align-self: flex-start;
  padding-left: 148px;
  margin-top: 12px;
}

@media (max-width: 1024px) {
  .places {
    box-sizing: border-box;
    padding-left: 50px;
    margin-top: 15px;
  }
}

@media (max-width: 768px) {
  .places {
    padding-left: 0;
    margin: 0 auto;
  }
}
