.header {
  padding: 0;
  width: 92.3%;
  padding-top: 36px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  .header {
    width: 928px;
  }
}
@media (max-width: 928px) {
  .header {
    width: 100vw;
  }
}
@media (max-width: 768px) {
  .header {
    padding-top: 35px;
    width: 720px;
  }
}
@media (max-width: 720px) {
  .header {
    padding-top: 0;
    margin: 23px 16px 0;
    width: auto;
  }
}
