.footer__link {
  margin: 0;
  color: #fff;
  box-sizing: border-box;
  margin-right: 18px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  margin-bottom: 42px;
}

.footer__link:last-child {
  margin-right: 0;

}

@media (max-width: 768px) {
  .footer__link {
    margin-bottom: 0;

  }
}

@media (max-width: 719px) {
  .footer__link {
    flex-grow: 0;
    font-size: 24px;
    line-height: 24px;
    line-height: 14px;
  }
}
