.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: end;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  flex-grow: 1;
}

@media (max-width: 720px) {
  .footer__copyright {
    padding-top: 50px;
    flex-grow: 0;
    line-height: 14px;

  }
}
/* @media (max-width: 460px) {
  .footer__copyright {
    padding-top: 50px;
    flex-grow: 0;
    line-height: 14px;

  }
} */
