.intro {
  box-sizing: border-box;
  padding-top: 81px;
  width: 984px;
  margin: 0 auto;
}

@media (max-width: 1072px) {
  .intro {
    max-width: 928px;
  }
}

@media (max-width: 976px) {
  .intro {
    padding-top: 79px;
    width: calc(100% - 48px);
  }
}

@media (max-width: 460px) {
  .intro {
    padding-top: 54px;
    width: calc(100% - 32px);
  }
}
