.place {
  margin: 0 auto;
  margin-top: 80px;
  max-width: 984px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: minmax(0, auto);
  column-gap: 20px;
  row-gap: 48px;
}

@media (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: minmax(340px, 1fr) minmax(auto, 459px);
  }
}

@media (max-width: 928px) {
  .place {
    margin-top: 73px;
    column-gap: 28px;

  }
}

@media (max-width: 719px) {
  .place {
    max-width: 100%;
    margin-top: 50px;
    column-gap: 0px;
    row-gap: 32px;
    grid-template-columns: 1fr;
  }
}

